<div class="mega-menu-content">
    <div class="mega-column">
        <h4>Wound Closure</h4>
        <ul>
            <li><a href="/pages/sutures.html">Sutures</a></li>
            <li><a href="/pages/clips.html">Clips</a></li>
        </ul>
    </div>
    <div class="mega-column">
        <h4>Minimally Invasive</h4>
        <ul>
            <li><a href="/pages/access.html">Access</a></li>
            <li><a href="/pages/instrumentation.html">Instrumentation</a></li>
        </ul>
    </div>
    <div class="mega-column">
        <h4>Intelligence</h4>
        <ul>
            <li><a href="/pages/nomoflow.html">NomoFlow™</a></li>
            <li><a href="/pages/academy.html">Academy</a></li>
        </ul>
    </div>
</div>
