<div class="mega-menu-panel">
    <div class="mega-row">
        <div class="mega-col">
            <h5>Wound Closure</h5>
            <ul>
                <li><a href="/{{lang}}/pages/sutures.html">Sutures</a></li>
                <li><a href="/{{lang}}/pages/clips.html">Clips</a></li>
            </ul>
        </div>
        <div class="mega-col">
            <h5>Minimally Invasive</h5>
            <ul>
                <li><a href="/{{lang}}/pages/access.html">Access</a></li>
                <li><a href="/{{lang}}/pages/instrumentation.html">Instrumentation</a></li>
            </ul>
        </div>
        <div class="mega-col">
            <h5>Intelligence</h5>
            <ul>
                <li><a href="/{{lang}}/pages/nomoflow.html">NomoFlow™</a></li>
                <li><a href="/{{lang}}/pages/academy.html">Academy</a></li>
            </ul>
        </div>
    </div>
</div>
